/* Cascade Style Sheet for this website */
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: blue;
    text-decoration: none;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
    border: solid 1px;
    border-color: white;
   }

.menu a {
    color: white;
    background-color: blue;
    text-decoration: none;
}

div p {
color: darkgrey;
font-size: 12px;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
}

input {
    width: 400px;
}
input[type="radio"], input[type="submit"] {
    width: auto;
}
label {
    width: 150px;
    display: inline-block;
}

.commentContact{
    margin-left: 150px;
}
